:root {
  --primary: #161853;
  --secondary: #292C6D;
  --bg: #FAEDF0;
  --accent: #EC255A;
}
body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background-color: var(--bg);
}


.dashboard {
  display: flex;
  justify-content: center;
  margin: 3rem;
}


@import 'assets/primeng/theme.css';
@import 'assets/primeng/primeng.min.css';
@import 'assets/primeng/primeicons.css';

